.profile-content{
	width: 100%;
  	height: auto;
  	background-color: #e32c50;
  	
  	margin: 0 auto;
  	padding-bottom: 10px;
  }

.userrow{
	width: 45%;
	padding: 40px;
	margin: 100px auto 10px auto;
	background-color: #fff;
	border-radius: 20px;
}
.userimg{
	border-radius: 50px;
	margin: -100px auto;
	width: 100px;
	height: 100px;
	position: relative;
	background-color: #eee;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
}

#imagePreview{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: white url(../img/default.png) center center no-repeat;
}

#imagePreview-tw{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background: white url(../img/default-2.png) center center no-repeat;
}

#imgChange {
	background: url("../img/overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	bottom: 0;
	color: #FFFFFF;
	display: block;
	height: 20px;
	left: 0;
	line-height: 18px;
	position: absolute;
	text-align: center;
	width: 100%;
}
#imgChange input[type="file"] {
	bottom: 0;
	cursor: pointer;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
}

#profile-image {
    cursor: pointer;
}

.user-title{
	height: 50px;
}

.user-title h2{
  color: #646262;
  margin: 120px auto;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.user-title i{
	color: #999;
	font-size: 14px;
}

.edit { 
  color: #999;
font-size: 14px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.save {
  display: none;
  background: #bd0f18;
  color: #f0f0f0;
}
.noti-title h2{
  color: #646262;
  margin: 10px auto;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}


.rank-rate{
	width: 100%;
	height: 100px;
	margin-top: 20px;
	border-top: 1px solid #646262;
	border-bottom: 1px solid #646262;
}
.rank-rate-left{
	width: 50%;
	float: left;
	padding: 20px;
	text-align: center;
	border-right: 2px solid #646262;
	height: 100px;
}
.rank-rate-right{
	width: 50%;
	float: left;
	padding: 20px;
	text-align: center;
	height: 100px;
}

.played-count{
	margin: 15px 0 15px 0;
	text-align: center;
	font-size: 18px;
}

.prize-rate{
	width: 100%;
	height: 170px;
	padding: 20px;
	margin-top: 20px;
	background-color: #EFEFEF;
	border-radius: 20px;
	border: 2px solid #D2CECE;
  -moz-box-shadow:    1px 1px 4px 2px #999;
  -webkit-box-shadow: 1px 1px 4px 2px #999;
  box-shadow:         1px 1px 4px 2px #999;
}
.prize-left{
	width: 50%;
	float: left;
	text-align: center;
	height: 100px;
	padding: 10px;
}
.prize-left button{

	width: 100px;
	padding: 5px;
	cursor:pointer;
	font-weight: bold;
	font-size: 70%;
	background: #52c17d;
	color: #fff;
	border: 1px solid #52c17d;	
	border-radius: 50px;
	margin: 5px auto;
}
.prize-right{
	width: 50%;
	float: left;
	text-align: center;
	height: 100px;
	padding: 10px;
}
.prize-right button{
	width: 85px;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 70%;
	background: transparent;
	color: #a8a8a8;
	border: 1px solid #52c17d;
	border-radius: 50px;
	margin: 10px 5px auto auto;
}

.lb-bottom{
	width: 100%;
	padding:30px;
	margin: 20px auto;	
	border-radius: 20px;
	text-align: center;
}

.lb-bottom button{

	width: 100px;
	padding: 5px;
	cursor:pointer;
	font-weight: bold;
	font-size: 80%;
	background: #d65a4b;
	color: #fff;
	border: 1px solid #d65a4b;	
	border-radius: 50px;
	margin: 0 auto;
}




.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.leader-title{

	width: 100%;
	text-align: left;
}
.leader-title button{

	width: 100px;
	padding: 5px;
	cursor:pointer;
	font-weight: bold;
	font-size: 80%;
	background: #000;
	color: #fff;
	border: 1px solid #000;	
	border-radius: 50px;
	margin: 0 0 0 10px;

}


.user-bottom{
    width: 45%;
	margin: 0 auto;
	background-color: transparent;
	border-radius: 20px;
	height: 250px;
}
.user-bottom-left{
    width: 50%;
	padding: 20px;
	margin: 20px;
	float:left;
	color:#000;
	background-color: #fff;
	border-radius: 20px;
    height: 170px;
    text-align: center;
}
.user-bottom-right{
    width: 36%;
	padding: 20px;
	margin: 20px;
	float:left;
	color:#000;
	background-color: #fff;
	border-radius: 20px;
	text-align: center;
	height: 170px;
}

.user-bottom-left button{
    width: 100px;
	padding: 5px;
	cursor:pointer;
	font-weight: bold;
	font-size: 80%;
	background: #d65a4b;
	color: #fff;
	border: 1px solid #d65a4b;	
	border-radius: 50px;
	margin: 20px;
}

.user-bottom-right input{
    width: 100px;
	padding: 5px;
	cursor:pointer;
	font-weight: bold;
	font-size: 80%;
	background: #ffcd15;
	color: #000;
	border: 1px solid #ffcd15;	
	border-radius: 50px;
	margin: 50px auto 20px auto;
}
.user-bottom h5{
    color: #000;
}

#status { padding:10px; background:#88C4FF; color:#000; font-weight:bold; font-size:12px; margin-bottom:10px; display:none; width:45%; }


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modalpay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modaledit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 30%;
  height: 230px;
}

.modal-content-left {
  
  margin: auto;
  padding: 20px;
  width: 65%;
  float: left;
}

.modal-content-right {
  content:url("../img/invite.PNG");
  margin: auto;
  width: 30%;
  height: 129px;
  width: 92px;
  float: left;
}

.modal-content input[type=submit] {
	padding: 5px;
	cursor:pointer;
	font-weight: bold;
	background: #ffcd15;
	color: #000;
	border: 1px solid #ffcd15;	
	border-radius: 20px;
}

.modal-content h5{
    
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.modal-content p{
    
    font-size: 13px;
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Modal Content */
.modal-content-pay {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 30%;
  height: 300px;
  margin: 0 auto;
}

.modal-content-top{
    
    width: 54px;
    height: 47px;
    content:url("../img/more_life.PNG");
    margin: 0 auto;
}
.modal-content-mid{
    
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
}
.modal-content-card{
    
    width: 70%;
    padding: 10px;
    color: #999;
    border: 1px solid #999;
    margin: 0 auto;
    cursor: pointer;
}


/* Modal Content */
.modal-content-edit {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  width: 20%;
  height: auto;
  margin: 0 auto;
}

.modal-content-edit form{
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

#modal-form button{
    
    width: 50px;
	padding: 5px;
	cursor:pointer;
	font-weight: bold;
	font-size: 80%;
	background: #ffcd15;
	color: #000;
	border: 1px solid #ffcd15;	
	border-radius: 10px;
}

#modal-form input{
    width: 150px;
    padding: 5px;
    border-radius: 10px;
}


.prize-hrt{
    
    width: 39px;
    height: 35px;
    background: url("../img/hrt-icon.png");
    margin: 0 auto;
    padding-top: 2px;
}

.prize-hrt{
    
    width: 39px;
    height: 33px;
    background: url("../img/hrt-icon.png");
    margin: 0 auto;
    padding-top: 2px;
}


.prize-hrt h2{
    
    margin: 5px auto;
    text-align: center;
    color: #fff;
    
}



@media only screen and (max-width: 414px) {

		.profile-content{width: 100%}
		.userrow{width: 95%;padding: 20px;margin: 100px auto 0 auto;background-color: #fff;border-radius: 20px;}
		.userimg{width: 80px;height: 80px;border-radius: 50px;margin: -80px auto;}
		#imagePreview{width: 80px;height: 80px;border-radius: 50px;background: white url(../img/default-2.png) center center no-repeat;}
		.user-bottom{width: 95%; margin: 10px auto;height: 200px;}
		.user-bottom-left{width:45%; padding: 10px; margin: 10px; text-align: center;}
		.user-bottom-right{width:40%; padding: 10px;margin: 10px; text-align: center;}
		.user-bottom-right button{width: 70px; font-size: 60%;}
		.user-bottomleft button{width: 70px; font-size: 60%;}
		.user-bottom p{font-size: 80%;}
		.user-bottom h5{font-size: 90%;}
		.modal-content {width: 90%;height: 250px;}
		.modal-content-pay {width: 90%;height: 300px;}
		.prize-rate{height: 200px;}
		.modal-content-card{width: 80%; font-size: 13px;}
		.modal-content-edit {width: 80%}
		.user-title h2{margin: 80px auto;}
		
}

@media only screen and (max-width: 1024px) and (min-width: 630px) {
		.profile-content{width: 100%}
		.userrow{width: 60%;padding: 20px;margin: 100px auto 0 auto;background-color: #fff;border-radius: 20px;}
		.userimg{width: 100px;height: 100px;border-radius: 50px;margin: -80px auto;}
		#imagePreview{width: 100px;height: 100px;border-radius: 50px;background: white url(../img/default.png) center center no-repeat;}
		.footer{width: 100%;}
		.user-bottom{width: 60%; margin: 10px auto;height: 200px;}
		.user-bottom-left{width:45%; padding: 10px; margin: 10px; text-align: center;}
		.user-bottom-right{width:43%; padding: 10px;margin: 10px; text-align: center;}
		.user-bottom-right input{width: 70px; font-size: 60%;}
		.user-bottomleft button{width: 70px; font-size: 60%;}
		.user-bottom p{font-size: 80%;}
		.user-bottom h5{font-size: 90%;}
		.modal-content {width: 55%;}
		.modal-content-pay {width: 55%;}
		.prize-rate{height: 200px;}
		.modal-content-edit {width: 35%}
		.user-title h2{margin: 100px auto;}

}